<h1>Scraping NY Times Tech Articles and Storing in MongoDB !</h1>
<div class="row" class="well">
    <br>
    <br> {{#each articles}}
    <div class='col-sm-8'>
        <div>
            <h3> <small>Article Title: </small><i><b>{{this.title}}</b></i></h3>
        </div>
        <h4><small>Click Here: <a href="{{this.link}}">Follow link here</a></small></h4>
        <div class="commentBox">
            <ul>
                {{#each comment}}
                <div id="noteBox">
                    {{!-- {{this}} {{this._id}} {{this.title}} --}} {{this.body}} {{!--
                    <br>
                    <li class="li">{{this.title}}</li>
                    <br>
                    <button action="/comments/delete/:id" type="Delete" class="deleteButton">Delete Comment</button>
                    <br>
                    <br>
                    <br> --}} {{!--
                    <li>{{body}}</li> --}}
                </div>
                {{/each}}
            </ul>
        </div>
        <form action="/articles/comment/{{this._id}}" method="POST">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr" placeholder="Username Here!" name="title">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" placeholder="Comments Here!" id="comment" class="input" name="body"></textarea>
            <br>
            <input type="submit" class="btn btn-primary btn-block" class="commentButton"></input>
        </form>
        <br>
        <br>
    </div>
    {{/each}}
</div>
